<!DOCTYPE html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавление нового класса</title>
</head>
<body>
<div layout:fragment="content">
    <div class="alert alert-danger" role="alert">
        Некорректные символы в имени класса!!! Допустимы цифры и кириллические заглавные буквы.
    </div>
    <h1>Добавление нового класса</h1>
    <br>
    <form th:action="@{/headteacher/addclasstitle}" th:object="${classTitle}" method="post">
        <input class="form-control form-control-lg" type="text" placeholder="Введите название нового класса"
               aria-label=".form-control-lg example" th:field="*{title}">
        <br>
        <input name="submit" type="submit" class="btn btn-primary" value="Создать"/>
    </form>
</div>
</body>
</html>