<!DOCTYPE html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Расписание уроков</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Расписание уроков</h1>
    <br>
    <div class="alert alert-danger" role="alert">
        В заданный день создать урок невозможно! Заданный кабинет занят для проведения урока в другом классе
    </div>
    <button class="btn btn-primary" onclick="location.href = '/headteacher/timetable/0/0';">Вернуться</button>
</div>
</body>
</html>