<!DOCTYPE html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Расписание уроков</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Расписание уроков</h1>
    <br>
    <div class="alert alert-danger" role="alert">
        Вам еще не назначены уроки!
    </div>
    <br>
    <div class="alert alert-danger" role="alert">
        Вернуться к расписанию
    </div>
    <button class="btn btn-primary" onclick="location.href = '/teacher/mytimetable/0';">Вернуться</button>
    <div class="alert alert-danger" role="alert">
        Вернуться к профилю
    </div>
    <button class="btn btn-primary" onclick="location.href = '/teacher/myprofile';">Вернуться</button>
</div>
</body>
</html>